* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}


img {
  vertical-align: middle;
}


a {
  text-decoration: none;
}

a:link{
  color: #fff;
}

a:visited{
  color: #fff;
}

li {
  list-style: none;
}

article{
  background-color: black;
}

.navbar {
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: black;
  color: #fff;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 22px;
}

.menu li:hover {
  background-color: black;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 15px;
}

.logo{
  padding: 5px 17px;
}
  
.dropdown {
  background-color: black;
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 9px;
  top: 45px;
  z-index: 10000;
}

.dropdown li + li { 
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 6em;
  text-align: left;
}

.dropdown li:hover {
  background-color: black;
}

.nintendo:hover .dropdown {
  display: block;
}

.sony:hover .dropdown{
  display: block;
}

.microsoft:hover .dropdown{
  display: block;
}

.h_mention:hover .dropdown{
  display: block;
}

.active{
  display: none;
}

.topnav #myLinks{
  display: none;
}

.icon{
  display: none;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.text{
  font-size: 35px;
  font-family: cursive;
  text-align: center;
  color: black;
}


.active, .dot:hover {
  background-color: #717171;
}

.numbertext{
  display: none;
}

.section_bar{
  padding: 20px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-family: cursive;
}

.box_container{
  position: relative;
  width: 1200px;
  height: 350px;
  margin: auto;
}

.box_container .box{
  position: relative;
  width: calc(400px - 30px);
  height: calc(350px - 30px);
  background: gray;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.box_container .box .box_icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  transition: 0.5s;
  z-index: 1;
}

.box_container .box:hover .box_icon{
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.box_container .box .box_icon .bi{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: white;
}

.box_container .box:hover .box_icon .bi{
  font-size: 40px;
}

.box_container .box .box_content{
  position: relative;
  top: 100%;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  transition: 0.5s;
  opacity: 0;
}

.box_container .box:hover .box_content{
  top: 100px;
  opacity: 1;
}

.box_container .box .box_content h3{
  margin: 0 0 10px;
  padding: 0;
  font-size: 24px;
}

.box_container .box .box_content{
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #fff;
}

.button{
  padding-top: 10px;
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button:hover {
  background-color: #374151;
}

.button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 780px) {
  .menu{
    display: none;
  }

  .navbar{
    display: none;
  }

  .logo{
    display: none;
  }

  .topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .active {
    background-color: black;
    color: white;
  }
  
  .text{
    font-size: 15px;
  }

  .button {
    padding: .75rem 1.5rem;
  }
  
  .box_container{
    position: relative;
    width: 780px;
    height: 1100px;
  }

  .box_container .box{
    display: flex;
    float: none;
    align-items: center;
    margin-left: 100px;
    margin-right: -100px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
  }

  .box_container .box .box_content{
    height: calc(100% - 50px)
  }
}